* {
    font-family: 'Outfit', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #fff8e8;
    overflow: hidden;
}

form {
    background-color: #e7874b;
}

h2 {
    color: #F16251;
}